In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataset = pd.read_csv("Ruter-data.csv",sep=';')
dataset.describe()

       Linjeretning  Kjøretøy_Kapasitet  Passasjerer_Ombord
count   6000.000000         6000.000000         6000.000000
mean       0.492000          104.712167            4.512833
std        0.499978           24.225196            6.735730
min        0.000000           33.000000          -39.000000
25%        0.000000           80.000000            0.000000
50%        0.000000          106.000000            3.000000
75%        1.000000          112.000000            7.000000
max        1.000000          151.000000           64.000000

In [3]:
dataset.head()

,TurId,Dato,Fylke,Område,Kommune,Holdeplass_Fra,Holdeplass_Til,Linjetype,Linjefylke,Linjenavn,Linjeretning,Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra,Tidspunkt_Faktisk_Avgang_Holdeplass_Fra,Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra,Tidspunkt_Planlagt_Avgang_Holdeplass_Fra,Kjøretøy_Kapasitet,Passasjerer_Ombord
0,15006-2020-08-10T10:24:00+02:00,10/08/2020,Viken,Vest,Bærum,Nordliveien,Tjernsmyr,Lokal,Viken,150,0,10:53:53,10:53:59,10:53:00,10:53:00,112,5
1,15002-2020-08-15T12:54:00+02:00,15/08/2020,Viken,Vest,Bærum,Nadderud stadion,Bekkestua bussterminal (Plattform C),Lokal,Viken,150,0,13:12:20,13:12:26,13:12:00,13:12:00,112,5
2,15004-2020-08-03T09:54:00+02:00,03/08/2020,Viken,Vest,Bærum,Ringstabekkveien,Skallum,Lokal,Viken,150,0,10:18:56,10:19:21,10:19:00,10:19:00,112,6
3,15003-2020-07-27T13:00:00+02:00,27/07/2020,Viken,Vest,Bærum,Gruvemyra,Gullhaug,Lokal,Viken,150,1,13:52:04,13:52:26,13:51:00,13:51:00,112,10
4,15002-2020-08-27T07:15:00+02:00,27/08/2020,Viken,Vest,Bærum,Lysaker stasjon (Plattform A),Tjernsmyr,Lokal,Viken,150,1,07:34:13,07:34:53,07:33:00,07:33:00,112,10

## is any null value

In [4]:
dataset.isna().any()

TurId                                        False
Dato                                         False
Fylke                                        False
Område                                       False
Kommune                                      False
Holdeplass_Fra                               False
Holdeplass_Til                               False
Linjetype                                    False
Linjefylke                                   False
Linjenavn                                    False
Linjeretning                                 False
Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra     False
Tidspunkt_Faktisk_Avgang_Holdeplass_Fra      False
Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra    False
Tidspunkt_Planlagt_Avgang_Holdeplass_Fra     False
Kjøretøy_Kapasitet                           False
Passasjerer_Ombord                           False
dtype: bool

In [199]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 17 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   TurId                                      6000 non-null   object
 1   Dato                                       6000 non-null   object
 2   Fylke                                      6000 non-null   object
 3   Område                                     6000 non-null   object
 4   Kommune                                    6000 non-null   object
 5   Holdeplass_Fra                             6000 non-null   object
 6   Holdeplass_Til                             6000 non-null   object
 7   Linjetype                                  6000 non-null   object
 8   Linjefylke                                 6000 non-null   object
 9   Linjenavn                                  6000 non-null   object
 10  Linjeretning                               6000 non-null   int64
 11  Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra   6000 non-null   object
 12  Tidspunkt_Faktisk_Avgang_Holdeplass_Fra    6000 non-null   object
 13  Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra  6000 non-null   object
 14  Tidspunkt_Planlagt_Avgang_Holdeplass_Fra   6000 non-null   object
 15  Kjøretøy_Kapasitet                         6000 non-null   int64
 16  Passasjerer_Ombord                         6000 non-null   int64
dtypes: int64(3), object(14)
memory usage: 797.0+ KB

In [5]:
dataset['Dato'] = pd.to_datetime(dataset['Dato'])

In [6]:
dataset = dataset[dataset['Passasjerer_Ombord'] > 0]

In [7]:
dataset.shape

(4376, 17)

In [8]:
dataset['Year'] = dataset['Dato'].dt.year
dataset['Month'] = dataset['Dato'].dt.month
dataset['Day'] = dataset['Dato'].dt.day

In [9]:
dataset.drop(['Dato'],inplace=True,axis =1)

In [10]:
dataset.head()

,TurId,Fylke,Område,Kommune,Holdeplass_Fra,Holdeplass_Til,Linjetype,Linjefylke,Linjenavn,Linjeretning,Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra,Tidspunkt_Faktisk_Avgang_Holdeplass_Fra,Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra,Tidspunkt_Planlagt_Avgang_Holdeplass_Fra,Kjøretøy_Kapasitet,Passasjerer_Ombord,Year,Month,Day
0,15006-2020-08-10T10:24:00+02:00,Viken,Vest,Bærum,Nordliveien,Tjernsmyr,Lokal,Viken,150,0,10:53:53,10:53:59,10:53:00,10:53:00,112,5,2020,10,8
1,15002-2020-08-15T12:54:00+02:00,Viken,Vest,Bærum,Nadderud stadion,Bekkestua bussterminal (Plattform C),Lokal,Viken,150,0,13:12:20,13:12:26,13:12:00,13:12:00,112,5,2020,8,15
2,15004-2020-08-03T09:54:00+02:00,Viken,Vest,Bærum,Ringstabekkveien,Skallum,Lokal,Viken,150,0,10:18:56,10:19:21,10:19:00,10:19:00,112,6,2020,3,8
3,15003-2020-07-27T13:00:00+02:00,Viken,Vest,Bærum,Gruvemyra,Gullhaug,Lokal,Viken,150,1,13:52:04,13:52:26,13:51:00,13:51:00,112,10,2020,7,27
4,15002-2020-08-27T07:15:00+02:00,Viken,Vest,Bærum,Lysaker stasjon (Plattform A),Tjernsmyr,Lokal,Viken,150,1,07:34:13,07:34:53,07:33:00,07:33:00,112,10,2020,8,27

In [11]:
dataset = pd.get_dummies(data = dataset,columns=['Fylke', 'Område','Linjetype','Linjefylke'],drop_first=True)

In [12]:
dataset.columns

Index(['TurId', 'Kommune', 'Holdeplass_Fra', 'Holdeplass_Til', 'Linjenavn',
       'Linjeretning', 'Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra',
       'Tidspunkt_Faktisk_Avgang_Holdeplass_Fra',
       'Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra',
       'Tidspunkt_Planlagt_Avgang_Holdeplass_Fra', 'Kjøretøy_Kapasitet',
       'Passasjerer_Ombord', 'Year', 'Month', 'Day', 'Fylke_Viken',
       'Område_Nordøst', 'Område_Sør', 'Område_Vest', 'Linjetype_Lokal',
       'Linjetype_Natt', 'Linjetype_Skole', 'Linjefylke_Viken'],
      dtype='object')

In [13]:
dataset.drop(['TurId', 'Kommune', 'Holdeplass_Fra', 'Holdeplass_Til', 'Linjenavn',
       'Tidspunkt_Faktisk_Avgang_Holdeplass_Fra',
       'Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra',
       'Tidspunkt_Planlagt_Avgang_Holdeplass_Fra'],axis=1,inplace=True)

In [14]:
dataset.columns

Index(['Linjeretning', 'Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra',
       'Kjøretøy_Kapasitet', 'Passasjerer_Ombord', 'Year', 'Month', 'Day',
       'Fylke_Viken', 'Område_Nordøst', 'Område_Sør', 'Område_Vest',
       'Linjetype_Lokal', 'Linjetype_Natt', 'Linjetype_Skole',
       'Linjefylke_Viken'],
      dtype='object')

In [15]:
dataset['Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra'] = dataset['Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra'].astype(str)
dataset[['hours','minutes','seconds']] = dataset['Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra'].str.split(':', expand=True)

In [16]:
dataset['hours'] = dataset['hours'].apply(lambda x: 0 if x == '' else x)
dataset['minutes'] = dataset['minutes'].apply(lambda x: 0 if x == '' else x)
dataset['seconds'] = dataset['seconds'].apply(lambda x: 0 if x == '' else x)
dataset['seconds'] = dataset['seconds'].apply(lambda x: 0 if x == None else x)

In [17]:
dataset.drop(['Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra'],axis=1,inplace=True)

In [18]:
dataset.columns

Index(['Linjeretning', 'Kjøretøy_Kapasitet', 'Passasjerer_Ombord', 'Year',
       'Month', 'Day', 'Fylke_Viken', 'Område_Nordøst', 'Område_Sør',
       'Område_Vest', 'Linjetype_Lokal', 'Linjetype_Natt', 'Linjetype_Skole',
       'Linjefylke_Viken', 'hours', 'minutes', 'seconds'],
      dtype='object')

In [30]:
dataset.Passasjerer_Ombord.unique()

array([ 5,  6, 10,  8,  1,  2,  4,  9,  3, 11, 36,  7, 13, 30, 17, 15, 19,
       14, 16, 24, 12, 25, 28, 18, 34, 20, 22, 31, 21, 23, 33, 26, 38, 29,
       39, 45, 35, 37, 52, 27, 42, 64, 40, 32], dtype=int64)

In [19]:
X = dataset[['Linjeretning', 'Kjøretøy_Kapasitet', 'Year',
       'Month', 'Day', 'Fylke_Viken', 'Område_Nordøst', 'Område_Sør',
       'Område_Vest', 'Linjetype_Lokal', 'Linjetype_Natt', 'Linjetype_Skole',
       'Linjefylke_Viken', 'hours', 'minutes', 'seconds']].values
y = dataset['Passasjerer_Ombord'].values

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test =train_test_split(X,y, test_size=0.2, random_state=0)

y_train =y_train.reshape(-1,1)
y_test =y_test.reshape(-1,1)

In [21]:
X_train.shape,X_test.shape, y_train.shape, y_test.shape

((3500, 16), (876, 16), (3500, 1), (876, 1))

In [22]:
from sklearn.preprocessing import StandardScaler 

sc_X = StandardScaler()
sc_y = StandardScaler()

X_train =sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

y_test= sc_y. fit_transform(y_test)
y_train= sc_y.fit_transform(y_train)

In [32]:
from  sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=500,max_depth=30)
regressor.fit(X_train, y_train)

C:\Users\Vishal\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor(max_depth=30, n_estimators=500)

In [33]:
y_pred=regressor.predict(X_test)
y_pred=y_pred.reshape(-1, 1)
y_pred=sc_y.transform(y_pred)

In [34]:
from sklearn import metrics
from sklearn.metrics import r2_score
print("MAE", metrics.mean_absolute_error(y_test, y_pred))
print("MSE", metrics.mean_squared_error(y_test, y_pred))
print("RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print("Score:", regressor.score(X_test,y_test))

MAE 1.1009696134448401
MSE 2.168627541354451
RMSE 1.4726260697659983
Score: 0.09765821465750535